# Bike rental data Cleaning

Library and Data Imports

In [3]:
import pandas as pd
import numpy as np
import glob

### Citi Bike Data Overview

In [28]:
#creating list of filenames using glob library
files = glob.glob("bike-rental-starter-kit/data/JC-******-citibike-tripdata.csv")
#iterating through the list of filenames and appending data frames to the list
df_list=[]
for filename in files:
    data = pd.read_csv(filename)
    df_list.append(data)
bikes_df = pd.concat(df_list)
# #importing the weather file
# weather_df = pd.read_csv('bike-rental-starter-kit/data/newark_airport_2016.csv')

In [13]:
bikes_df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,361,2016-02-01 00:31:18,2016-02-01 00:37:19,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,24393,Subscriber,1975.0,1
1,297,2016-02-01 01:55:05,2016-02-01 02:00:02,3195,Sip Ave,40.730743,-74.063784,3194,McGinley Square,40.725340,-74.067622,24394,Subscriber,1985.0,2
2,1155,2016-02-01 02:40:05,2016-02-01 02:59:20,3183,Exchange Place,40.716247,-74.033459,3210,Pershing Field,40.742677,-74.051789,24676,Subscriber,1976.0,1
3,1769,2016-02-01 05:11:28,2016-02-01 05:40:58,3214,Essex Light Rail,40.712774,-74.036486,3203,Hamilton Park,40.727596,-74.044247,24700,Subscriber,1974.0,2
4,935,2016-02-01 05:48:24,2016-02-01 06:03:59,3203,Hamilton Park,40.727596,-74.044247,3214,Essex Light Rail,40.712774,-74.036486,24639,Subscriber,1974.0,2

In [19]:
bikes_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 247584 entries, 0 to 19487
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Trip Duration            247584 non-null  int64
 1   Start Time               247584 non-null  object
 2   Stop Time                247584 non-null  object
 3   Start Station ID         247584 non-null  int64
 4   Start Station Name       247584 non-null  object
 5   Start Station Latitude   247584 non-null  float64
 6   Start Station Longitude  247584 non-null  float64
 7   End Station ID           247584 non-null  int64
 8   End Station Name         247584 non-null  object
 9   End Station Latitude     247584 non-null  float64
 10  End Station Longitude    247584 non-null  float64
 11  Bike ID                  247584 non-null  int64
 12  User Type                247204 non-null  object
 13  Birth Year               228585 non-null  float64
 14  Gender                   247584 non-null  int64
dtypes: float64(5), int64(5), object(5)
memory usage: 30.2+ MB

In [20]:
bikes_df.describe()

,Trip Duration,Start Station ID,Start Station Latitude,Start Station Longitude,End Station ID,End Station Latitude,End Station Longitude,Bike ID,Birth Year,Gender
count,2.475840e+05,247584.000000,247584.000000,247584.000000,247584.000000,247584.000000,247584.000000,247584.000000,228585.000000,247584.000000
mean,8.856305e+02,3207.065206,40.723121,-74.046438,3203.572553,40.722594,-74.045855,24935.260481,1979.335276,1.123534
std,3.593798e+04,26.955103,0.008199,0.011211,61.579494,0.007958,0.011283,748.469712,9.596809,0.518687
min,6.100000e+01,3183.000000,40.692640,-74.096937,147.000000,40.692216,-74.096937,14552.000000,1900.000000,0.000000
25%,2.480000e+02,3186.000000,40.717732,-74.050656,3186.000000,40.716540,-74.050444,24491.000000,1974.000000,1.000000
50%,3.900000e+02,3201.000000,40.721525,-74.044247,3199.000000,40.721124,-74.043117,24609.000000,1981.000000,1.000000
75%,6.660000e+02,3211.000000,40.727596,-74.038051,3211.000000,40.727224,-74.036486,24719.000000,1986.000000,1.000000
max,1.632981e+07,3426.000000,40.752559,-74.032108,3426.000000,40.801343,-73.957390,27274.000000,2000.000000,2.000000

In [23]:
bikes_df.value_counts

<bound method DataFrame.value_counts of        Trip Duration           Start Time            Stop Time  \
0                361  2016-02-01 00:31:18  2016-02-01 00:37:19
1                297  2016-02-01 01:55:05  2016-02-01 02:00:02
2               1155  2016-02-01 02:40:05  2016-02-01 02:59:20
3               1769  2016-02-01 05:11:28  2016-02-01 05:40:58
4                935  2016-02-01 05:48:24  2016-02-01 06:03:59
...              ...                  ...                  ...
19483            249  2016-05-31 23:16:00  2016-05-31 23:20:10
19484            650  2016-05-31 23:18:32  2016-05-31 23:29:23
19485           2048  2016-05-31 23:25:28  2016-05-31 23:59:36
19486            455  2016-05-31 23:31:57  2016-05-31 23:39:32
19487            239  2016-05-31 23:47:38  2016-05-31 23:51:37

       Start Station ID Start Station Name  Start Station Latitude  \
0                  3202       Newport PATH               40.727224
1                  3195            Sip Ave               40.730743
2                  3183     Exchange Place               40.716247
3                  3214   Essex Light Rail               40.712774
4                  3203      Hamilton Park               40.727596
...                 ...                ...                     ...
19483              3186      Grove St PATH               40.719586
19484              3209       Brunswick St               40.724176
19485              3199       Newport Pkwy               40.728745
19486              3220  5 Corners Library               40.734961
19487              3185          City Hall               40.717732

       Start Station Longitude  End Station ID  End Station Name  \
0                   -74.033759            3203     Hamilton Park
1                   -74.063784            3194   McGinley Square
2                   -74.033459            3210    Pershing Field
3                   -74.036486            3203     Hamilton Park
4                   -74.044247            3214  Essex Light Rail
...                        ...             ...               ...
19483               -74.043117            3209      Brunswick St
19484               -74.050656            3211        Newark Ave
19485               -74.032108            3199      Newport Pkwy
19486               -74.059503            3215       Central Ave
19487               -74.043845            3211        Newark Ave

       End Station Latitude  End Station Longitude  Bike ID   User Type  \
0                 40.727596             -74.044247    24393  Subscriber
1                 40.725340             -74.067622    24394  Subscriber
2                 40.742677             -74.051789    24676  Subscriber
3                 40.727596             -74.044247    24700  Subscriber
4                 40.712774             -74.036486    24639  Subscriber
...                     ...                    ...      ...         ...
19483             40.724176             -74.050656    24668  Subscriber
19484             40.721525             -74.046305    24517  Subscriber
19485             40.728745             -74.032108    24573  Subscriber
19486             40.746730             -74.049251    24561  Subscriber
19487             40.721525             -74.046305    24685  Subscriber

       Birth Year  Gender
0          1975.0       1
1          1985.0       2
2          1976.0       1
3          1974.0       2
4          1974.0       2
...           ...     ...
19483      1976.0       1
19484      1986.0       1
19485      1975.0       1
19486      1964.0       1
19487      1993.0       1

[247584 rows x 15 columns]>